.work {
  padding-top: 0;
}

.work__header {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.work__list {
  display: flex;
  flex-basis: calc((100% - 60px) / 3);
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__title {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}