:root {
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --focus-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --translucent-black-color: rgba(255, 255, 255, 0.6);
  --primary-svg-color: #afb1b8;
  --input-border: rgba(33, 33, 33, 0.2);
  --shadow-button-primary: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --button-form-color-hover: #188ce8;
}

.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Times New Roman', sans-serif;
  font-size: 14px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 94px 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}